In [174]:
import pandas as pd
import numpy as np

In [2]:
df_supply = pd.read_csv('out_input_MS-b1-supply.csv')
df_supply.head()

         date  apple   pen
0  2006-01-01  35086  2730
1  2006-01-15  35002  2625
2  2006-02-01  34963  2759
3  2006-02-15  34869  2715
4  2006-03-01  35188  2599

In [3]:
df_inventory = pd.read_csv('out_input_MS-b1-inventory.csv')
df_inventory.head()

         date  apple   pen
0  2006-01-31  12157   811
1  2006-02-28  29859  2280
2  2006-03-31  42135  3317
3  2006-04-30  55235  4094
4  2006-05-31  66963  5158

In [4]:
df_sell = pd.read_csv('out_input_MS-b1-sell.csv')
df_sell.head()

         date                                        sku_num
0  2006-01-01  MS-b1-ap-48914c5b-14d2-4b20-bdaf-b2ff5d9f4f0c
1  2006-01-01  MS-b1-ap-6baf7287-3e6a-4728-a3b1-8613de51eef8
2  2006-01-01  MS-b1-ap-83d7b005-c7d9-4deb-93a2-a8f7606d02b5
3  2006-01-01  MS-b1-ap-9099c5de-028d-4b07-97be-6f6532b8674a
4  2006-01-01  MS-b1-ap-ee0ce843-a979-4798-a542-75a41d1610c3

In [172]:
state = df_sell.sku_num[0][:2]

In [13]:
import datetime

In [138]:
total_apples = 0
total_pens = 0
res_df = pd.DataFrame(columns=['date', 'apple', 'pen'])

from_ind = 0
to_ind = 0
prev_date = '2006-01-01'

for cur_sell in df_sell.values:
    str_d = cur_sell[0]
    code = cur_sell[1][6:8]
    
    if prev_date != str_d:
        sup = df_supply[df_supply.date==prev_date]
        
        if sup.shape[0] == 1:
            total_apples += int(sup.apple)
            total_pens += int(sup.pen)

        cur_df = pd.DataFrame(columns=['date', 'apple', 'pen'], data=[[prev_date, total_apples, total_pens]])
        res_df = res_df.append(cur_df)
    
    prev_date = str_d

    if code == 'ap':
        total_apples -= 1
    else:
        total_pens -= 1


sup = df_supply[df_supply.date==str_d]
if sup.shape[0] == 1:
    total_apples += int(sup.apple)
    total_pens += int(sup.pen)
cur_df = pd.DataFrame(columns=['date', 'apple', 'pen'], data=[[str_d, total_apples, total_pens]])
res_df = res_df.append(cur_df)
res_df.head()

         date    apple     pen
0  2006-01-01  33271.0  2574.0
0  2006-01-02  31409.0  2431.0
0  2006-01-03  29529.0  2260.0
0  2006-01-04  27732.0  2107.0
0  2006-01-05  25790.0  1974.0

In [142]:
stolen_df = pd.DataFrame(columns=['date', 'apple', 'pen'])

total_stolen_apples = 0
total_stolen_pens = 0

for x in df_inventory.values:
    cur_d = x[0]
    paper_apples = x[1]
    paper_pens = x[2]
    real_inv = res_df[res_df.date==x[0]]
    real_apples = int(real_inv.apple)
    real_pens = int(real_inv.pen)
    cur_apples = real_apples-paper_apples-total_stolen_apples
    cur_pens = real_pens-paper_pens-total_stolen_pens
    cur_df = pd.DataFrame(columns=['date', 'apple', 'pen'], data=[[cur_d, cur_apples, cur_pens]])
    total_stolen_apples += cur_apples
    total_stolen_pens += cur_pens
    stolen_df = stolen_df.append(cur_df)
stolen_df.head()

         date  apple   pen
0  2006-01-31   10.0  11.0
0  2006-02-28    6.0   6.0
0  2006-03-31    7.0   6.0
0  2006-04-30    6.0  14.0
0  2006-05-31    8.0   1.0

In [173]:
cols = ['year', 'state', 'apple_sold', 'apple_stolen', 'pen_sold', 'pen_stolen']
year_df = pd.DataFrame(columns=cols)

cur_year = 2006
supply_pens = 0
supply_apples = 0
ind = 0

for x in df_supply.values:
    cur_date = x[0]
    supply_apples += x[1]
    supply_pens += x[2]
    
    if ind % 24 == 23:
        cur_date = cur_date[:-2]+'31'
        apple_sold = supply_apples-int(res_df[res_df.date==cur_date].apple)
        pen_sold = supply_pens-int(res_df[res_df.date==cur_date].pen)
        pen_stolen = int(res_df[res_df.date==cur_date].pen)-int(df_inventory[df_inventory.date==cur_date].pen)
        apple_stolen = int(res_df[res_df.date==cur_date].apple)-int(df_inventory[df_inventory.date==cur_date].apple)
        cur_df = pd.DataFrame(columns=cols, data=[[cur_year, state, apple_sold, apple_stolen, pen_sold, pen_stolen]])
        year_df = year_df.append(cur_df)
        cur_year += 1
    ind += 1
year_df.head()

     year state  apple_sold  apple_stolen  pen_sold  pen_stolen
0  2006.0    MS    681341.0          78.0   52555.0        91.0
0  2007.0    MS   1362622.0         146.0  104494.0       167.0
0  2008.0    MS   2047732.0         224.0  156526.0       240.0
0  2009.0    MS   2730028.0         305.0  208937.0       336.0
0  2010.0    MS   3410439.0         373.0  261537.0       432.0